body {
    background: url('background.png');
    background-attachment: fixed;
}

.divv{

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    /* История */


    position: absolute;
    width: 190px;
    height: 55px;
    left: 864.5px;
    top: 55px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 152%;
    /* identical to box height, or 55px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.div1{
    /* Content */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 1024px;
    height: 484px;
    left: 448px;
    top: 160px;
}

.div1-1{
    /* Vopros */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;

    width: 1024px;
    height: 232px;

    /* Серый 11 */

    background: #F2F6FA;
    /* Серый 11 */

    border: 1px solid #F2F6FA;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div1-1-1{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 0px 0px 0px;
    gap: 10px;

    width: 944px;
    height: 49px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.p1 {
    /* 23 марта 2023 г. 13:40 */


    width: 883px;
    height: 23px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    /* identical to box height, or 23px */


    /* Серый 1 */

    color: #11263A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.div1-1-2{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
    gap: 1px;

    width: 944px;
    height: 63px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.p2 {
    /* Прачечная */


    width: 349px;
    height: 43px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 143%;
    /* identical to box height, or 43px */


    /* Серый 1 */

    color: #11263A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.div1-1-3{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
    gap: 1px;

    width: 944px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}


.div1-1-4{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 0px 20px 0px;
    gap: 1px;

    width: 944px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}


.p3 {
    /* Статус: завершена */


    width: 944px;
    height: 30px;

    /* 21px, Medium */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    /* identical to box height, or 30px */


    /* Серый 1 */

    color: #11263A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}


.div1-2{
    /* Vopros */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;

    width: 1024px;
    height: 232px;

    /* Серый 11 */

    background: #F2F6FA;
    /* Серый 11 */

    border: 1px solid #F2F6FA;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.div1-2-1{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 0px 0px 0px;
    gap: 10px;

    width: 944px;
    height: 49px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.div1-2-2{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
    gap: 1px;

    width: 944px;
    height: 63px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.div1-2-3{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 0px;
    gap: 1px;

    width: 944px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}


.div1-2-4{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 0px 20px 0px;
    gap: 1px;

    width: 944px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}