body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url('home-background.png')  no-repeat;
    background-size: 100%;
}

.divv{

    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {
    /* Content */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 55px;

}

.div2 {
    /* Text */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 0px;
    gap: 50px;

    width: 485px;
    height: 500px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.div3 {
    /* text */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 50px;

    width: 511px;
    height: 500px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

h2 {
    /* Заголовок */


    width: 415px;
    height: 90px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    /* or 45px */

    letter-spacing: -1px;

    /* Белый */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: auto;
}

h3 {
    /* Подзаголовок */


    width: 415px;
    height: 121px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 143%;
    /* or 30px */


    /* Белый */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 0;
}

.div3 {
    /* Header */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 415px;
    height: auto;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.button1 {
    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 51px;
    gap: 10px;

    width: 210px;
    height: 78px;

    background: #E02420;
    border-radius: 5px;
    border: solid 5px #E02420;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #FFFFFF;
}

.div5 {
    /* text */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 0px 0px;
    gap: 50px;

    width: 523px;
    height: 500px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.div5-1 {
    /* Text */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 54px;

    width: 511px;
    height: 121px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.div6 {
    /* text */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 19px;

    width: 214px;
    height: 121px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

h4 {
    /* 01 */

    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    /* identical to box height, or 60px */

    font-feature-settings: 'tnum' on, 'lnum' on;

    color: #E02420;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

p {
    width: 243px;
    height: 42px;

    /* 14px, Regular (150%) */

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
