body {
    background: url('background.png');
    background-attachment: fixed;
}

.divv{

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    /* профиль */

    margin-top: 0;
    position: absolute;
    width: 204px;
    height: 48px;
    left: 857.5px;
    top: 55px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 133%;
    /* identical to box height, or 48px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.div1{
    /* данные пользователя */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;

    position: absolute;
    width: 1024px;
    height: 280px;
    left: 448px;
    top: 160px;

    /* Серый 11 */

    background: #F2F6FA;
    /* Серый 11 */

    border: 1px solid #F2F6FA;
    border-radius: 5px;
}

.div1-1{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 20px 0px 0px;
    gap: 1px;

    width: 944px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.p1 {
    /* Коссе Иван */


    width: 349px;
    height: 43px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 143%;
    /* identical to box height, or 43px */


    /* Серый 1 */

    color: #11263A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}


.p2 {
    /* Логин: vanya.kosse */


    width: 549px;
    height: 30px;

    /* 21px, Medium */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    /* identical to box height, or 30px */


    /* Серый 1 */

    color: #11263A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div1-2{
    /* Кнопки / 1. Прямоугольная кнопка */


    position: absolute;
    width: 283px;
    height: 45px;
    left: 30px;
    top: 200px;

    background: #626262;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.input1{
    /* Темный текст */


    position: absolute;
    width: 283px;
    height: 45px;
    left: 0px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    /* identical to box height, or 27px */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    background: #626262;
}

.div2{
    /* стирка */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;

    position: absolute;
    width: 1024px;
    height: 303px;
    left: 448px;
    top: 430px;

    /* Серый 11 */

    background: #F2F6FA;
    /* Серый 11 */

    border: 1px solid #F2F6FA;
    border-radius: 5px;
}

.div2-1{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 60px 0px 0px;
    gap: 1px;

    width: 944px;
    height: 63px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.p3{
    /* Прачечная */


    width: 349px;
    height: 43px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 143%;
    /* identical to box height, or 43px */


    /* Серый 1 */

    color: #11263A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div2-2{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 60px 0px 0px;
    gap: 1px;

    width: 944px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.p4{
    /* Статус: не запланирована / запланирована */


    width: 944px;
    height: 30px;

    /* 21px, Medium */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    /* identical to box height, or 30px */


    /* Серый 1 */

    color: #11263A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div2-3{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 60px 20px 0px;
    gap: 1px;

    width: 944px;
    height: 70px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}


.div2-4{
    /* Line 1 */


    width: 939px;
    height: 0px;

    border: 1px solid rgba(17, 38, 58, 0.95);

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.div2-5{
    /* Text & icon */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 60px 0px 0px;
    gap: 1px;

    width: 944px;
    height: 50px;


    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}
