{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<title>Журнал заявок</title>
<link rel="stylesheet" href="{% static 'main/css/applications-admin.css'%}">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="application__header">Для админов (журнал заявок)</h1>
    {% for application in applications %}
    <div class="application" data-id="{{ application.id }}" data-status="{{ application.status }}">
        <p class="application__date">{{ application.created_at }}</p>
        <p class="application__text"> От кого: <a class="application__link"
                                                  href="https://vk.com/id{{ application.user.profile.vk_id }}"
                                                  target="_blank">{{ application.full_name }}</a></p>
        <p class="application__text">Комната: {{ application.room }}</p>
        <p class="application__text">Описание проблемы: {{ application.description.lower }}</p>
        <button style="margin-right: 21px;" value="1" class="btn">Заявка сделана</button>
        <button value="2" class="btn">Выполнено</button>
    </div>
    {% endfor %}
</div>
<script>
    const applications = document.querySelectorAll('.application');
    applications.forEach(application => {
        const status = application.dataset.status;
        const buttons = application.querySelectorAll('.btn');
        buttons.forEach(btn => {
            btn.addEventListener('click', event => {
                const isActive = btn.classList.contains('btn-active');
                if (!isActive) {
                    fetch('{% url "applications-admin" %}', {
                        method: 'POST',
                        body: JSON.stringify({'id': application.dataset.id, 'value': btn.value})
                    });
                    if (btn.value === '1') {
                        buttons[0].classList.add('btn-active');
                        buttons[1].classList.remove('btn-active');
                    } else if (btn.value === '2') {
                        buttons[0].classList.add('btn-active');
                        buttons[1].classList.add('btn-active');
                    }
                } else {
                    fetch('{% url "applications-admin" %}', {
                        method: 'POST',
                        body: JSON.stringify({'id': application.dataset.id, 'value': parseInt(btn.value) - 1})
                    });
                    if (btn.value === '1') {
                        buttons[0].classList.remove('btn-active');
                        buttons[1].classList.remove('btn-active');
                    } else if (btn.value === '2') {
                        buttons[0].classList.add('btn-active');
                        buttons[1].classList.remove('btn-active');
                    }
                }

            });
        });
        if (status === '1') {
            buttons[0].classList.add('btn-active');
            buttons[1].classList.remove('btn-active');
        } else if (status === '2') {
            buttons[0].classList.add('btn-active');
            buttons[1].classList.add('btn-active');
        }
    })
</script>
{% endblock %}