{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'main/css/application_log.css'%}">
<title>Журнал заявок</title>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Журнал заявок</h1>
    <form method="post"
          class="form">
        {% csrf_token %}
        {% for field in form %}
        <div class="field__container">
            {% if field.errors %}
            <p class="form__error">{{ field.errors }}</p>
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        <button class="form__btn"
                type="submit" value="Подать заявку">Подать заявку
        </button>
    </form>
</div>
{% endblock %}