{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<title>Запись</title>
<link rel="stylesheet" href="{% static 'main/css/record.css' %}">
{% endblock %}
{% block content %}
<div class="divv">
    <h1>записаться</h1>
    <form method="post" id="bookWashForm">
        {% csrf_token %}
        <div class="div1">
            <div class="div2">
                <select name="date" required="required" id="dateSelect">
                    <option value="">Выберите дату</option>
                    {% for date, times in date_and_time.items %}
                    <option class="dateOptions" value="{{date}}">{{ date }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="div2">
                <select name="time" required="required" id="timeSelect">
                    <option value="">Выберите время</option>
                </select>
            </div>
            <div class="div2">
                <select name="washes" required="required" id="washesSelect">
                    <option value="">Выберите количество машинок</option>
                </select>
            </div>

            <div class="div2">
                <select name="powder" required="required">
                    <option value="">С порошком/без порошка</option>
                    <option value="1">С порошком</option>
                    <option value="0">Без порошка</option>
                </select>
            </div>
        </div>
        <button type="submit" value="Записаться" class="ButtonRecord">Записаться</button>
    </form>
</div>
<script>
    const date_dict = JSON.parse('{{date_dict|escapejs}}');
    const dateSelect = document.getElementById('dateSelect');
    dateSelect.addEventListener('change', (event) => {
        const date = event.target.value;
        const timeSelect = document.getElementById('timeSelect');
        timeSelect.innerHTML = '<option value="">Выберите время</option>';
        timeSelect.addEventListener('change', event => {
            const washesSelect = document.getElementById('washesSelect');
            washesSelect.innerHTML = '<option value="">Выберите количество машинок</option>';
            time = event.target.value;
            washes = date_dict[date].filter(e => e[0] === time)[0][1]
            for (let i = 1; i <= washes; i++) {
                const washOption = document.createElement('option');
                washOption.value = i;
                washOption.text = i;
                washesSelect.append(washOption);
            }
        })
        date_dict[date].forEach(elem => {
            const time = elem[0];
            const timeOption = document.createElement('option');
            timeOption.value = time;
            timeOption.text = time;
            timeSelect.append(timeOption);
        })
    })
</script>
{% endblock %}
