{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<title>Вход</title>
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
<meta content="width=device-width, initial-scale=1" name="viewport" />
{% endblock %}
{% block content %}
<div class="container">
    <form class="form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form__line"></div>
        <h4 class="form__header">Войдите в аккаунт</h4>
        {{ form.username.errors }}
        {{ form.password.errors }}
        {% for field in form %}
        <div class="field__container">
            {% if field.errors %}
            <p class="form__error">{{ field.errors }}</p>
            {% endif %}
            <p class="form__label">{{ field.label }}</p>
            {{ field }}
        </div>
        {% endfor %}
        {{ form.non_field_errors }}
        <input type="submit" value="Войти" class="form__btn"/>
        <input type="hidden" name="next" value="{{ next }}"/>
        <a href="{% url 'registration' %}">
            <input type="button" value="Зарегистрироваться" class="form__btn--grey"></a>
    </form>
</div>
{% endblock %}
