{% extends 'main/shapka.html' %}
{% load static %}
{% block head %}
    <title>Прачка</title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/mainPage.css' %}">
{% endblock %}
{% block content %}
    <div class="divv">
        <div class="div1">
            <div class="div2">
                <div class="div3">
                    <h2>Добро пожаловать в сервис для записи в прачечную комнату</h2>
                    <h3>Полностью автоматизированная система с личным кабинетом и оплатой</h3>
                </div>
                <a href="{% url 'record' %}">
                    <button class="button1">Записаться</button></a>
            </div>
            <div class="div5">
                <div class="div5-1">
                    <div class="div6">
                        <h4>01</h4>
                        <p>Намите кнопку «Записаться» на главной странице</p>
                    </div>
                    <div class="div6">
                        <h4>02</h4>
                        <p>Войдите или зарегистрируйтесь,
                            если вы ещё не сделали этого</p>
                    </div>
                </div>
                <div class="div5-1">
                    <div class="div6">
                        <h4>03</h4>
                        <p>Прочитайте новостной раздел
                            и будьте в курсе всех событий</p>
                    </div>
                    <div class="div6">
                        <h4>04</h4>
                        <p>Пополните баланс стирок
                            через сервис оплаты</p>
                    </div>
                </div>
                <div class="div5-1">
                    <div class="div6">
                        <h4>05</h4>
                        <p>Выбирете удобное место и
                            нажмите кнопку «Записаться»</p>
                    </div>
                    <div class="div6">
                        <h4>06</h4>
                        <p>Приходите в выбраное время
                            в прачку и не опаздывайте!</p>
                    </div>
                </div>
        </div>
    </div>
    </div>
{% endblock %}

