{% extends 'main/shapka.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <title>Оплата</title>
    <link rel="stylesheet" href="{% static 'main/css/payment.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class= "divv">
            <h1>Оплатить</h1>
            <div class="div1">
                <div class = "div1-1">
                    <p class = "p1">1. Для начала оплатите стирку:</p>
                    <a href="{% url 'digPay' %}">
                        <input type="button" value="Перейти к оплате" class= "input1"></a>
                </div>
                <br><br>
                <form method="post">
                    {% csrf_token %}
                    <div class = "div1-3">
                        <p class = "p2">2. Ниже введите купленный код:</p>
                    </div>
                    <div class = "div1-4">
                        <input name="purchased-code" type="text"  class= "input2" placeholder="Введите купленный код">
                    </div>
                    <div class = "div1-5">
                        <input type="submit" value="Пополнить стирки" class= "input3">
                    </div>
                </form>
                <div class = "div1-6">
                    <p class = "p3">3. Проверьте количество стирок:</p>
                    <div class = "div1-6-1">
                        <p class= "p4">Количество стирок без порошка: {{ user.profile.wash_without }}</p>
                    </div>
                    <div class = "div1-6-2">
                        <p class = "p5">Количество стирок с порошком: {{ user.profile.wash_with }}</p>
                    </div>
                </div>
                <div class = "div1-7">
                    <p class = "p6">4. Перейдите на страничку «Записаться»</p>
                    <a href="{% url 'record' %}">
                        <input type="submit" value="Перейти к записи" class= "input4"></a>
                </div>
            </div>
    </div>
{% endblock %}
