{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<title>Оплата</title>
<link rel="stylesheet" href="{% static 'main/css/payment.css' %}">
<meta content="width=device-width, initial-scale=1" name="viewport" />
{% endblock %}
{% block content %}
<div class="container">
    <h1>Оплата прачечной</h1>
    <div class="container__info">
        <div class="payment">
            <p class="payment__text">1. Для начала оплатите стирку:</p>
            <a href="{% url 'payment-digiseller' %}">
                <input type="button" value="Перейти к оплате" class="payment__btn"></a>
        </div>
        <form class="form" method="post">
            {% csrf_token %}
            <p class="form__text">2. Ниже введите купленный код:</p>
            {{ form.non_field_errors }}
            {{ form.unique_code }}
            <button type="submit" value="Пополнить стирки" class="form__btn">Пополнить стирки</button>
        </form>
        <div class="washes">
            <p class="washes__header">3. Проверьте количество стирок:</p>
            <p class="washes__text">Количество стирок без порошка: {{ user.profile.wash_without }}</p>
            <p class="washes__text">Количество стирок с порошком: {{ user.profile.wash_with }}</p>
        </div>
        <a href="{% url 'menu' %}">
            <input type="button" value="Перейти к записи" class="btn"></a>
    </div>
</div>
{% endblock %}
