{% extends 'main/template.html' %}
{% load static %}
{% load format_datetime %}
{% load format_people %}
{% load get_statuses %}
{% block head %}
<title>Профиль</title>
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
<meta content="width=device-width, initial-scale=1" name="viewport" />
{% endblock %}
{% block content %}
<div class="container">
    <h1>Профиль</h1>
    <div class="cards__container">
        <div class="card">
            <p class="card__header">{{ user.first_name }} {{ user.last_name }}</p>
            <p class="card__text">Логин: {{ user.username }}</p>
            <a href="{% url 'history' %}" class="card__btn">История записей/заявок</a>
        </div>
        {% if washes %}
        <div class="card">
            <p class="card__header">Прачечная</p>
            {% for wash in washes %}
            <div class="card__info">
                <p class="card__text">Статус: {{wash.date_time | get_wash_status}}</p>
                <p class="card__text">Описание: {{ wash.date_time | format_datetime }} {{wash.washes}} {% if wash.washes == 1 %}
                    машинка
                    {% else %} машинки {% endif %} {% if wash.powder %} с порошком {% else %} без порошка {%endif%}</p>
                <button class="wash__btn" value="{{ wash.date_time | get_utc }};{{ wash.id }}">Отменить</button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if applications %}
        <div class="card">
            <p class="card__header">Журнал заявок</p>
            {% for application in applications %}
            <div class="card__info">
                <p class="card__text">Статус: {{ application.get_status_display.lower }}</p>
                <p class="card__text">Описание: {{application.room}} {{application.description.lower}}</p>
                <button class="application__btn" value="{{ application.status }} {{ application.id }}">Отменить</button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if study_room %}
        <div class="card">
            <p class="card__header">Учебная комната</p>
            {% for study_info in study_room %}
            <div class="card__info">
                <p class="card__text">Статус: {% if study_info.date|is_today and study_info.start_time|gte_time_now and study_info.end_time|lt_time_now %} в процессе {% else %} запланирована {% endif %}</p>
                <p class="card__text">Описание: {{study_info.date}} на {{study_info.start_time}}-{{study_info.end_time}} {{study_info.people}} {{study_info.people | format_people}}</p>
                <button class="study__btn"
                        value="{{ study_info.date|format_date}} {{ study_info.start_time }};{{ study_info.id }}">
                    Отменить
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
<script>
    const washBtns = document.querySelectorAll('.wash__btn');
    washBtns.forEach(btn => {
        const statusDate = new Date(parseInt(btn.value.split(';')[0]));
        const washId = btn.value.split(';')[1];
        if ((statusDate - new Date()) / 1000 / 60 / 60 <= 12) btn.style.display = 'none';
        btn.addEventListener('click', async () => {
            await fetch('{% url "profile" %}', {
                method: 'POST',
                body: JSON.stringify({'type': 'wash', 'wash_id': washId})
            });
            window.location.reload();
        });
    });
    const applicationBtns = document.querySelectorAll('.application__btn');
    applicationBtns.forEach(btn => {
        const status = btn.value.split(' ')[0];
        const applicationId = btn.value.split(' ')[1];
        if (status !== '0') btn.style.display = 'none';
        btn.addEventListener('click', async () => {
            await fetch('{% url "profile" %}', {
                method: 'POST',
                body: JSON.stringify({'type': 'application', 'application_id': applicationId})
            });
            window.location.reload();
        });
    });
    const studyBtns = document.querySelectorAll('.study__btn');
    studyBtns.forEach(btn => {
        const statusDate = new Date((btn.value.split(';')[0]));
        const studyId = btn.value.split(';')[1];
        if ((statusDate - new Date()) / 1000 / 60 / 60 <= 6) btn.style.display = 'none';
        btn.addEventListener('click', async () => {
            await fetch('{% url "profile" %}', {
                method: 'POST',
                body: JSON.stringify({'type': 'study_room', 'study_id': studyId})
            });
            window.location.reload();
        });
    });
</script>
{% endblock %}
