{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<title>Профиль</title>
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}">
{% endblock %}
{% block content %}
<div class="divv">
    <h1>Профиль</h1>
    <div class="div1">
        <div class="div1-1">
            <p class="p1">{{ user.first_name }} {{ user.last_name }}</p>
        </div>
        <div class="div1-1">
            <p class="p2">Логин: {{ user.username }}</p>
        </div>
<!--        <div class="div1-1">-->
<!--            <p class="p2">Почта: {{ user.email }}</p>-->
<!--        </div>-->
        <div class="div1-1">
            <p class="p2">Ближайшая стирка: не запланирована</p>
        </div>
    </div>
</div>
{% endblock %}
