{% extends 'main/template.html' %}
{% load static %}
{% block head %}

<title>Регистрация</title>
<link rel="stylesheet" href="{% static 'main/css/registration.css' %}">
{% endblock %}
{% block content %}
<body>
<div class="container">
    <form class="form" method="post">
        {% csrf_token %}
        <h4>Регистрация</h4>
        <p class="form__text">Вводите все данные корректно, после регистрании их нельзя будет изменить.</p>
        <div class="field__container">
            {% for field in form %}
            <p class="form__label">{{ field.label }}</p>
            {% if field.errors %}
            <p class="form__error">{{ field.errors }}</p>
            {% endif %}
            {{ field }}
            {% endfor %}
        </div>
        <input type="submit" value="Зарегистрироваться" class="form__btn">
        <a href="{% url 'login' %}">
            <input type="button" value="Войти" class="form__btn--grey"></a>
    </form>
</div>
</body>
</html>
{% endblock %}
