{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<title>Учебная комната</title>
{% endblock %}
{% block content %}
<form method="post" id="studyRoomForm">
    {% csrf_token %}
    <div>
        <select name="date" required="required" id="dateSelect">
            <option value="">Выберите дату</option>
            {% for date in study_dates %}
            <option class="dateOptions" value="{{date}}">{{ date }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <select name="time" required="required" id="timeSelect" multiple>
            <option value="">Выберите время</option>
        </select>
    </div>
    <div>
        <select name="people" required="required" id="peopleSelect">
            <option value="">Выберите количество человек</option>
        </select>
    </div>

    <button type="submit" value="Записаться" class="ButtonRecord">Записаться</button>
</form>
<script>
    const study_time = JSON.parse('{{study_time|escapejs}}');
    const dateSelect = document.getElementById('dateSelect');
    dateSelect.addEventListener('change', event => {
        const date = event.target.value;
        const timeSelect = document.getElementById('timeSelect');
        timeSelect.innerHTML = '<option value="">Выберите время</option>';
        timeSelect.addEventListener('change', event => {
            const peopleSelect = document.getElementById('peopleSelect');
            peopleSelect.innerHTML = '<option value="">Выберите количество человек</option>';
            time = event.target.value;
            // people = date_dict[date].filter(e => e[0] === time)[0][1]
            for (let i = 1; i <= 10; i++) {
                const peopleOption = document.createElement('option');
                peopleOption.value = i;
                peopleOption.text = i;
                peopleSelect.append(peopleOption);
            }
        });
        study_time[date].forEach(start_time => {
            // const time = elem;
            const timeOption = document.createElement('option');
            timeOption.value = start_time;
            timeOption.text = `${start_time}:00 - ${start_time + 1}:00`;
            timeSelect.append(timeOption);
        });
    })
</script>
<style>
    div{
        margin-bottom: 10px;
    }
</style>
{% endblock %}