{% extends 'main/template.html' %}
{% load static %}
{% load format_people %}
{% block head %}
<title>Админ учебной комнаты</title>
<link rel="stylesheet" href="{% static 'main/css/study-room-admin.css'%}">
{% endblock %}
{% block content %}
<div class="container" style="display: flex; flex-direction: column; align-items: center; ">
    <h1 class="study__header">Для админов (Учебная комната)</h1>
    <div class="study__settings">
        <a class="study__btn" href="/study-room-admin">Актуальные записи</a>
        <a class="study__btn" href="/study-room-admin?view=history">История записей</a>
    </div>
    {% for study_date, information in study_info.items %}
    <div class="history">
        <h2 class="history__date">{{ study_date }}</h2>
        {% for elem in information %}
        <p class="history__time">{{ elem.start_time }} - {{ elem.end_time }}</p>
        <span class="history__text"><a class="history__link" target="_blank" href="https://vk.com/id{{ elem.vk_id }}">{{ elem.full_name }}</a> <span>({{ elem.people }} {{ elem.people | format_people }})</span></span>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<script>
    const buttons = document.querySelectorAll('.study__btn');
    const urlSearchParams = new URLSearchParams(window.location.search);
    const view = urlSearchParams.get('view');
    if (view)
        buttons[1].classList.add('study__btn-active');
    else
        buttons[0].classList.add('study__btn-active');
</script>
{% endblock %}