{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<title>Учебная комната</title>
<link rel="stylesheet" href="{% static 'main/css/study_room.css'%}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Учебная комната</h1>
    <form class="form" method="post" id="studyRoomForm">
        {% csrf_token %}
        <select class="form__select" name="date" required="required" id="dateSelect">
            <option value="">Выберите дату</option>
            {% for date in study_dates %}
            <option class="dateOptions" value="{{date}}">{{ date }}</option>
            {% endfor %}
        </select>
        <select class="form__select" name="time" required="required" id="timeSelect" multiple>
            <option value="">Выберите время</option>
        </select>
        <select class="form__select" name="people" required="required" id="peopleSelect">
            <option value="">Выберите количество человек</option>
        </select>
        <button type="submit" value="Записаться" class="ButtonRecord form__input">Записаться</button>
    </form>
</div>
<script>
    const study_time = JSON.parse('{{study_time|escapejs}}');
    const dateSelect = document.getElementById('dateSelect');
    dateSelect.addEventListener('change', event => {
        const date = event.target.value;
        const timeSelect = document.getElementById('timeSelect');
        timeSelect.innerHTML = '<option value="">Выберите время</option>';
        timeSelect.addEventListener('change', event => {
            const peopleSelect = document.getElementById('peopleSelect');
            peopleSelect.innerHTML = '<option value="">Выберите количество человек</option>';
            time = event.target.value;
            for (let i = 1; i <= 10; i++) {
                const peopleOption = document.createElement('option');
                peopleOption.value = i;
                peopleOption.text = i;
                peopleSelect.append(peopleOption);
            }
        });
        study_time[date].forEach(start_time => {
            const timeOption = document.createElement('option');
            timeOption.value = start_time;
            timeOption.text = `${start_time}:00 - ${start_time + 1}:00`;
            timeSelect.append(timeOption);
        });
    })
</script>
{% endblock %}