{% load static %}
{% load group_filter %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/shapka.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    {% block head %}

    {% endblock %}
</head>
<body>
{% csrf_token %}
<header class="header">
    <div class="header__container">
        <a href="{% url 'main' %}"><img src="{% static 'main/img/logo.png' %}"></a>
        <div class="nav">
            <a href="{% url 'news' %}" class="nav__link">Новости</a>
            <a href="{% url 'profile' %}" class="nav__link">Профиль</a>
            <a href="{% url 'payment' %}" class="nav__link">Оплатить</a>
            <a href="{% url 'menu' %}" class="nav__link">Записаться</a>
            {% if user.groups|has_group:"Админ прачки" %}
            <a href="{% url 'washes-admin' %}" class="nav__link">Для админов</a>
            {% elif user.groups|has_group:"Админ журнала заявок" %}
            <a href="{% url 'applications-admin' %}" class="nav__link">Для админов</a>
            {% elif user.groups|has_group:"Админ учебной комнаты" %}
            <a href="{% url 'study-room-admin' %}" class="nav__link">Для админов</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <a class="nav__btn" href="{% url 'logout' %}">Выйти</a>
        {% else %}
        <a class="nav__btn" href="{% url 'login' %}">Войти</a>
        {% endif %}
    </div>
</header>
{% block content %}

{% endblock %}
</body>
</html>