{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<title>История</title>
{% endblock %}
{% block content %}
<a href="/washes-history">Актуальные записи</a>
<a href="/washes-history?view=history">История записей</a>
<a href="/washes-history?view=settings">Настройки</a>
{% for date, times in washes_history.items %}
    <p>{{ date }}</p>
    {% for time, users in times.items %}
        <p>{{ time }}</p>
        {% for user_name in users %}
            <a href="https://vk.com/id{{ user.profile.vk_id }}" target="_blank">{{ user_name }}</a>
        {% endfor %}
    {% endfor %}
{% endfor %}
{% endblock %}