{% extends 'main/template.html' %}
{% load static %}
{% block head %}
<title>История</title>
<link rel="stylesheet" href="{% static 'main/css/washes-admin.css'%}">
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="wash__header">Для админов (прачечная)</h1>
    <div class="settings__container">
        <a class="settings__link" href="/washes-admin">Актуальные записи</a>
        <a class="settings__link" href="/washes-admin?view=history">История записей</a>
        <a class="settings__link" href="/washes-admin?view=settings">Настройки</a>
        <a class="settings__link" href="/washes-admin?view=news">Новости</a>
    </div>

    {% if wash_settings %}
    <div class="settings">
        <p class="settings__header">Запись без порошка</p>
        <div class="settings__buttons" id="wash_without_powder">
            <button class="settings__btn {% if settings.wash_without_powder %} settings__btn--active {% endif %}" value="1">Доступна</button>
            <button class="settings__btn {% if not settings.wash_without_powder %} settings__btn--active {% endif %}">Закрыть запись</button>
        </div>
        <p class="settings__header">Запись с порошком</p>
        <div class="settings__buttons" id="wash_with_powder">
            <button class="settings__btn {% if settings.wash_with_powder %} settings__btn--active {% endif %}" value="1">Доступна</button>
            <button class="settings__btn {% if not settings.wash_with_powder %} settings__btn--active {% endif %}">Закрыть запись</button>
        </div>
        <p class="settings__header">Покупка стирок без порошка</p>
        <div class="settings__buttons" id="buy_without_powder">
            <button class="settings__btn {% if settings.buy_without_powder %} settings__btn--active {% endif %}" value="1">Доступна</button>
            <button class="settings__btn {% if not settings.buy_without_powder %} settings__btn--active {% endif %}">Закрыть покупки</button>
        </div>
        <p class="settings__header">Покупка стирок с порошком</p>
        <div class="settings__buttons" id="buy_with_powder">
            <button class="settings__btn {% if settings.buy_with_powder %} settings__btn--active {% endif %}" value="1">Доступна</button>
            <button class="settings__btn {% if not settings.buy_with_powder %} settings__btn--active {% endif %}">Закрыть покупки</button>
        </div>
    </div>
    {% elif news_edit %}
    <form method="post" class="form">
        {% csrf_token %}
        <h2 class="form__header">Добавить новость</h2>
        {{ form.text.errors }}
        {{ form.text }}
        <button class="form__btn" type="submit">Опубликовать</button>
    </form>
    {% else %}
    {% for date, times in washes_history.items %}
    <div class="history">
        <p class="history__date">{{ date }}</p>
        {% for time, users in times.items %}
        <p class="history__time" style="color: #11263A;">{{ time }}</p>
        {% for user_name in users %}
        <div class="history__text" style="margin-bottom: 5px;"><a class="history__link"
                                            href="https://vk.com/id{{ user.profile.vk_id }}" target="_blank">{{ user_name }}</a></div>
        {% endfor %}
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
</div>
<script>
    function removeActiveClass(buttons) {
        buttons.forEach(btn => btn.classList.remove('settings__link--active'));
    }

    const buttons = document.querySelectorAll('.settings__link');
    const searchParams = new URLSearchParams(window.location.search);
    if (searchParams.has('view')) {
        if (searchParams.get('view') === 'history') {
            removeActiveClass(buttons);
            buttons[1].classList.add('settings__link--active');
        } else if (searchParams.get('view') === 'settings') {
            removeActiveClass(buttons);
            buttons[2].classList.add('settings__link--active');
        } else {
            removeActiveClass(buttons);
            buttons[3].classList.add('settings__link--active');
        }
    } else {
        removeActiveClass(buttons);
        buttons[0].classList.add('settings__link--active');
    }

    const settingsBtns = document.querySelectorAll('.settings__btn');
    settingsBtns.forEach(btn => {
        btn.addEventListener('click', () => {
            const divId = btn.parentElement.id;
            fetch('{% url "washes-admin" %}', {
                method: 'POST',
                body: JSON.stringify({'key': divId, 'value': btn.value !== ''})
            });
            const divBtns = btn.parentElement.querySelectorAll('.settings__btn');
            divBtns.forEach(btn => btn.classList.toggle('settings__btn--active'));
        })
    })
</script>
{% endblock %}