html {
    box-sizing: border-box;
}

body {
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0;
}

.application__header {
    margin: 0;
    margin-bottom: 57px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 133%;
    text-transform: uppercase;
}

.application__date {
    margin: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    color: #11263A;
}

.application__text {
    margin: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #11263A;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #626262;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.4s ease-in-out;
}

.application {
    width: 944px;
    background-color: white;
    border-radius: 5px;
    padding: 26px 40px;
    margin-bottom: 20px;
}

.btn-active {
    background-color: #E02420;
}

.application__link {
    color: #11263A;
    text-decoration: none;
}

.applications__settings {
    display: flex;
    align-items: center;
    width: 944px;
    background-color: white;
    border-radius: 5px;
    padding: 26px 40px;
    margin-bottom: 20px;
}

.applications__btn {
    padding: 10px 15px;
    background-color: #626262;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    transition: background-color 0.4s ease-in-out;
}

.applications__btn:not(:last-child) {
    margin-right: 28px;
}

.applications__btn--active {
    background-color: #E02420;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 934px;
    padding: 17px 45px;
    border-radius: 5px;
    background-color: #F2F6FA;
}

.form__header {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 30px;
    line-height: 143%;
    color: #11263A;
}

.form__textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #626262;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #626262;
    resize: none;
}

.form__btn {
    padding: 10px 15px;
    background-color: #626262;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 143%;
    color: #fff;
    transition: background-color 0.4s ease-in-out;
}

.applications__btn:hover,
.btn:hover,
.form__btn:hover {
    background-color: #E02420;
}

@media only screen and (max-width: 767.98px) {
    .application{
        width:80%;
        padding: 26px 26px;
    }
    .applications__settings{
        width:80%;
        padding:24px 26px;
    }
    .application__header {
        font-size:19px;
    }
    .applications__btn{
        font-size:16px;
    }
    .btn{
        font-size:18px;
        margin-bottom: 7px;
    }
    .application__text{
        font-size:17px;
    }
    .form{
        width:80%;
        padding:17px 24px;
    }
}