body {
    background: url('../img/bacRega.png');
    background-attachment: fixed;
}

.divv{

    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 {
    /* Content */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 116px;

    position: absolute;
    width: 502.26px;
    height: 1267px;
    left: 709px;
    top: 150px;
}

.div2 {
    /* Form */

    width: 502.26px;
    height: 1267px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: flex-start;
    flex-grow: 0;
}

.div3 {
    /* Form */


    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 94px;
    gap: 35px;

    position: absolute;
    width: 502px;
    height: 1147px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    /* Серый 9 */

    border: 1px solid #CED6DE;
    border-radius: 5px;
}

.div3-1 {
    /* Линии сверху / Для больших форм / 1. Линия */


    position: absolute;
    width: 502.26px;
    height: 14px;
    left: -1px;
    top: -1px;

    background: #E02420;
    border-radius: 5px 5px 0px 0px;
}

.div3-2 {
    /* Header */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    width: 314px;
    height: 117px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ppp {
    /* Подзаголовок */
    width: 300px;
    height: 72px;
    margin-top: 7px;
    /* 16px, Regular (150%) */

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-align: center;

    /* Серый 1 */

    color: #11263A;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.div3-3 {
    /* Fields & button */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;

    width: 314px;
    height: 995px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

h4 {
    /* Заголовок */

    margin: 0px;
    width: 314px;
    height: 31px;

    /* 21px, SemiBold */

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 143%;
    /* or 30px */

    text-align: center;

    /* Серый 1 */

    color: #11263A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div3-3-1 {
    /* Fields */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;

    width: 314px;
    height: 640px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div3-3-2 {
    /* кнопка вход */

    margin-top: 15px;
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 313px;
    height: 78px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.div3-3-3 {
    /* кнопка регистрация */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 313px;
    height: 78px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.div3-3-1-1 {
    /* Field */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;

    width: 314px;
    height: 99px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.div3-3-1-2 {
    /* Field */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;

    width: 314px;
    height: 99px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

p {
    margin-bottom: 0;

    width: 350px;
    height: 21px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */


    /* Серый 1 */

    color: #11263A;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.input1 {
    /* Поля ввода/ 02. Прямоугольное, иконка */

    padding: 20px 25px;
    box-sizing: border-box;

    width: 314px;
    height: 60px;

    /* Белый */

    background: #FFFFFF;
    /* Серый 8 */

    border: 1px solid #BAC2CA;
    border-radius: 2px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    /* vanya.kosse */


    left: 23px;
    top: calc(50% - 24px/2);

    /* 15px, Regular */

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */


    /* Серый 5 */

    color: #7E868E;
}

.input2 {
    /* кнопка вход */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 55px;
    gap: 24px;

    width: 313px;
    height: 78px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;


    background: #E02420;
    border-radius: 4px;
    border: solid 5px #E02420;


    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #FFFFFF;

}

.input3 {
    /* кнопка вход */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 125px;
    gap: 24px;

    width: 313px;
    height: 78px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    position: absolute;


    background: #626262;
    border-radius: 4px;
    border: solid 5px #626262;


    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #FFFFFF;

}
