body {
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #2C2C2C;
}

.header__container {
    align-items: center;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

img {
    width: 73px;
    height: 73px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
    width: 800px;
}

.Nav1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 11px;
    gap: 10px;
}

.nav__link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 135%;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-decoration-line: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav__link:hover {
    color: rgba(255, 255, 255, 0.67);
}

.nav__btn {
    padding: 10px 18px;
    background: #F2F6FA;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #2C2C2C;
    text-decoration: none;
}

.nav__btn:hover {
    color: #ffffff;
    background: rgba(242, 246, 250, 0.67);
}
